.blog-header {
	line-height: 1;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(229, 229, 229);
}

.blog-header-logo {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	font-size: 2.25rem;
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
}

.nav-scroller .nav-link {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 0.875rem;
}

.blog-post {
	margin-bottom: 4rem;
}

.blog-post-title {
	margin-bottom: 0.25rem;
	font-size: 2.5rem;
}

.blog-post-meta {
	margin-bottom: 1.25rem;
	color: rgb(153, 153, 153);
}

.blog-footer {
	padding-top: 2.5rem;
	padding-right: 0px;
	padding-bottom: 2.5rem;
	padding-left: 0px;
	color: rgb(153, 153, 153);
	text-align: center;
	background-color: rgb(249, 249, 249);
	border-top-width: 0.05rem;
	border-top-style: solid;
	border-top-color: rgb(229, 229, 229);
}

.blog-footer p:last-child {
	margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
	.h-md-250 {
		height: 250px;
	}

	.blog-header-logo {
		font-size: 1.25rem;
	}
}
